Java/.idea/.name
Java/.idea/artifacts/Java_ear_exploded.xml
Java/.idea/compiler.xml
Java/.idea/copyright/profiles_settings.xml
Java/.idea/encodings.xml
Java/.idea/misc.xml
Java/.idea/modules.xml
Java/.idea/scopes/scope_settings.xml
Java/.idea/vcs.xml
Java/.idea/workspace.xml
Java/Java.iml
Java/META-INF/application.xml
